@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(https://fonts.googleapis.com/css?family=Tangerine);
:root{
    --padding-medium: 10px;
    --medium-font-size: 0.8em;
    --big-font-size: 1.2em;
    --padding: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff6ea;
    font-size: 1.2em;
}
#header{
    background-color: rgb(214, 207, 190);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 20px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    color: black;
    height:fit-content;
}
#header:hover{
    background-image: url(/images/header-B.jpg);
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    
 }
#header.topnav:hover{
    color: white;
}
    
#heading-logo{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.topnav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: var(--padding-medium);
}
#myLinks{
    width: 100%;
    display: flex;
    justify-content: space-around;
} 

h1{
font-family: 'Lato', sans-serif;
    color:hsl(0, 100%, 40%);
    text-shadow: 2px 2px 5px black;
}
h3{

    text-shadow: 2px 2px 5px black;
}

.book{
    padding:5px 30px;
    background-color: transparent;
    border: none;
}
a {
    color:black;
    text-decoration: none;
    display: block;
}
a:hover{
    color:white;
}
.logo > img {
    width: 50px;
    height: 50px;
    max-width: 12.5rem;
}    
.icon{
    display: none;
}
.swiper-container{
    top: 5rem;
    position: relative;
    width: 100%;
    height: 70vh;
    background:  #fff6ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.swiper{
width: 80%;
height: fit-content;
border-radius: 1rem;
}
.swiper-slide img{
    width: 100%;
    height: 70vh;
}
.about{
    position: relative;
    top: 13rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: auto;
    row-gap: 20px;
    padding:1.25rem ;
}
.about div{
    flex:1;
}
.prop1{
    background-color: white;
    padding:1.25rem;
    border-radius: 5px;
}
.prop2{
    padding: 1.25rem;
}
.information{
position: relative;
top : 14rem;
width: 100%;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
padding: var(--padding-medium);
margin: 3.125rem auto 0 auto;
line-height: 1.5;
}
.figure img{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    border-radius:10px;
}
.figure
figcaption{
    text-align: center;
    margin: 3.125rem auto 0 auto;
    padding-bottom: 0.625rem;
}
.cap-1{
    
    align-items: center;
    align-content: center;
    background-color: white;
    padding:1.25rem;
    border-radius: 10px;
}
.cap-2{
    padding:1.25rem;
    border-radius: 10px;
    background-color: white;
}
.rooms{
    position: relative;
    top: 15rem;
    text-align: center;
   
}
h2{
    color: hsla(348, 83%, 47%, 0.8);

   
}
.prices{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.gallery {
    margin: 0.625rem;
    border: 1px 0 0 0 ;
    border-radius: 5px;
    width: 250px;
    padding: 0.125rem;
  } 

.gallery:hover {
    border: 1px solid #777;
  }
  
.gallery img {
    width: 100%;
    height: auto;
  }
  
.desc {
    padding: 15px;
    text-align: center;
    color:hsla(348, 83%, 47%, 0.8);
    font-weight: bold;
   font-family: 'Tangerine', serif;
   font-size: 150%;
  }
  footer {
    position: relative;
    top: 17rem;
    margin-top: 0.625rem;
    background-color:rgb(214, 207, 190);
    padding: 3.25rem;
  }
  
  footer > ul {
    display: flex;

  }
  
  footer > ul > li {
    padding: 0 10px;
    list-style-type: none;
  }
  
  footer > span {
    margin-top: 0.625rem;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
    font-family: 'lato', sans-serif ;
  }
.footer-head{
    font-family: 'Lato', sans-serif;
    color:hsl(0, 100%, 40%);
    text-shadow: 2px 2px 5px black;
}
@media screen and (max-width: 570px) {
    #heading-logo{
        justify-content: center;
    } 
    #heading-logo .logo{
       position: absolute;
       left: 5%;
    }
    #header{
        min-height: 10vh;
        height: fit-content;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #book{
        display: none;
    }
    /* Style the navigation menu */
    .topnav {
        height: fit-content;
        overflow: hidden;
    }
      
      /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks{
        display: none;
    }
    /* Style navigation menu links */
    .topnav a {
    display: flex;
    height: 10px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
    /* Style the hamburger menu */
    .topnav a.icon {
    height: fit-content;
    width: fit-content;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav .icon:hover{
    background-color:transparent;
    border: 0;
    border-radius: 0;
    }
    /* Add a grey background color on mouse-over */
    .topnav a:hover {
    color: black;
    border: none;
    background-color: transparent;
    }
    
    /* Style the active link (or home/logo) */
    .active {
     color: white;
    }
    #header:hover{
        background-image: none;
        color: white;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #swiper {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
      }
     .about{
        display :flex;
        flex-direction: column-reverse;
     }
     .about img{
         max-width: 400px;
         width:100%;
         margin: 0 auto;
     
     }
     .information{
        width: 100%;
        height:auto;
    }
    .info-1{
        width:100%;
    }
    .info-1 img{
        max-width: 100%;
        height: auto;
    }
    .info-2{
        width: 100%;
    }
    .info-2 img{
        max-width: 100%;
        height: auto;
    }
    }