@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(https://fonts.googleapis.com/css?family=Tangerine);
:root{
    --padding-medium: 10px;
    --medium-font-size: 0.8em;
    --big-font-size: 1.2em;
    --padding: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#page-wrapper{
    position: relative;
    font-size: var(--big-font-size);
    font-family: 'Montserrat', sans-serif;

}
@media(max-width:500px){
    #page-wrapper{
        font-size: small;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
}
#header{
    background-color: rgb(214, 207, 190);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    position:relative;
    width: 100%;
    top: 0;
    padding: 0px 20px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    color: black;
    height:40vh;
}
@media (max-width: 600px) {
    header {
        width: 100%;
      flex-wrap: wrap;
    }
  }
#header:hover{
background-image: url(header-B.jpg);

color: white;
background-size: contain;
background-repeat: no-repeat;

}
#header.topnav:hover{
    color: white;
}

 #heading-logo{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* border-bottom: 1px solid rgb(19, 18, 18); */
    
}
.topnav{
    top: 0.625rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: var(--padding-medium);
    
}


  
@media (max-width: 550px) {
    
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    nav a {
      padding-bottom: 5px;
    }
  }
h1{
   font-family: 'Lato', sans-serif;
    color:hsl(0, 100%, 40%);
    text-shadow: 2px 2px 5px black;
}
h3{

    text-shadow: 2px 2px 5px black;
}

.book{
    padding:5px 30px;
}
a {
    color:black;
    text-decoration: none;
}
a:hover{
    background-color
    : hsla(348, 83%, 47%, 0.8);;
    color:white;
    border-radius: 0.625rem;
}
  .logo > img {
    width: 100%;
    height: 100%;
    max-width: 12.5rem;
  }
  .container{
      margin: 20px;
    padding: 0;
    text-align: center;
  }
  .economy{ 
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-auto-rows: 18.75rem 18.75rem;
   grid-gap: 15px;
   padding: 5rem;
   background-color: rgb(236, 235, 235);
   border-radius: 1rem;
  }

.gallery-item{
    width: 100%;
    height: 100%;
    position: relative;
}
.gallery-item .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gallery-item .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.gallery-item:hover .image img{
    transform: scale(1.5);
}
.gallery-item .text{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: cornsilk;
    pointer-events: none;
    z-index: 4;
    transition: .3s ease-in-out;
}
.gallery-item:hover .text{
    opacity: 1;
    animation: move-down .3s linear;
    padding: 1em;
    width: 100%;
    
}
@keyframes move-down{
    0%{
        top: 10%;
    }
    50%{
        top: 35%;
    }
    100%{
        top: 50%;
    }
}

h4{
    top: 3rem;
}