@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --padding-medium: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#page-wrapper{
    position: relative;
    font-size: large;
    font-family: 'Montserrat', sans-serif;

}
#header{
    background-color: rgb(214, 207, 190);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    position:relative;
    width: 100%;
    top: 0;
    padding: 0px 20px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    color: black;
    height:40vh;
}
#header:hover{
background-image: url(header-B.jpg);

color: white;
background-size: contain;
background-repeat: no-repeat;

}
#header.topnav:hover{
    color: white;
}

 #heading-logo{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* border-bottom: 1px solid rgb(19, 18, 18); */
    
}
.topnav{
    top: 0.625rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: var(--padding-medium);
    
}

h1{
   font-family: 'Lato', sans-serif;
    color:hsl(0, 100%, 40%);
    text-shadow: 2px 2px 5px black;
}
h3{

    text-shadow: 2px 2px 5px black;
}

.book{
    padding:5px 30px;
}
a {
    color:black;
    text-decoration: none;
}
a:hover{
    background-color
    : red;
    color:white;
}
.swiper-container{
    top: 5rem;
    position: relative;
    width: 100%;
    height: 70vh;
    background:white;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.swiper{
width: 80%;
height: fit-content;
border-radius: 1rem;
}
.swiper-slide img{
    width: 100%;
    height: 70vh;
}
.about{
    position: relative;
    top: 13rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: auto;
    row-gap: 20px;
    padding:1.25rem ;
}
.about div{
    flex:1;
}
.prop1{
    background-color: rgb(236, 235, 235);
    padding:1.25rem;
    border-radius: 20px;
}


.information{
position: relative;
top : 14rem;
width: 100%;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
padding: var(--padding-medium);
margin: 3.125rem auto 0 auto;
line-height: 1.5;
}
.figure img{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    border-radius:3.25rem;
}
.figure
figcaption{
    text-align: center;
    margin: 3.125rem auto 0 auto;
    padding-bottom: 0.625rem;
}
.cap-1{
    width :50%;
    align-items: center;
    align-content: center;
    margin-left:17rem;
    background-color: rgb(236, 235, 235);
    padding:1.25rem;
    border-radius: 20px;
}
.cap-2{
    background-color: rgb(236, 235, 235);
    padding:1.25rem;
    border-radius: 20px;
}
.rooms{
    position: relative;
    top: 15rem;
    text-align: center;
   
}
h2{
    color: hsla(348, 83%, 47%, 0.8);
}
.prices{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.gallery {
    margin: 0.625rem;
    border: 1px solid #ccc;
    width: 250px;
  } 

.gallery:hover {
    border: 1px solid #777;
  }
  
.gallery img {
    width: 100%;
    height: auto;
  }
  
.desc {
    padding: 15px;
    text-align: center;
  }
  footer {
    position: relative;
    top: 17rem;
    margin-top: 0.625rem;
    background-color:rgb(214, 207, 190);
    padding: 3.25rem;
  }
  
  footer > ul {
    display: flex;
    justify-content: flex-end;
  }
  
  footer > ul > li {
    padding: 0 10px;
  }
  
  footer > span {
    margin-top: 0.625rem;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
    font-family: 'lato', sans-serif ;
  }
.footer-head{
    font-family: 'Lato', sans-serif;
    color:hsl(0, 100%, 40%);
    text-shadow: 2px 2px 5px black;
}